{% extends '@Common/base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('advert_homepage') }}">Back</a>
        | <a href="{{ path('advert_edit_page', {'id': advert.id}) }}">Edit</a>
    </div>
    <table>
        <tr>
            <th>Traktor:</th>
            <td>{{ advert.make }} {{ advert.model }}</td>
        </tr>
        <tr>
            <th>Year:</th>
            <td>{{ advert.year }}</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td>{{ advert.price }}$</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ advert.description }}</td>
        </tr>
    </table>

{% endblock %}