{% extends '@Common/base.html.twig' %}

{% block body %}

<div><a href="{{ path('advert_add_page') }}">Add advert</a></div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Price</th>
        </tr>
    </thead>
    {% for advert in adverts %}
        <tr>
            <td><a href="{{ path('advert_detail_page', {'id': advert.id }) }}">{{ advert.make }} {{ advert.model }}</a></td>
            <td>{{ advert.year }}</td>
            <td>{{ advert.price }}$</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}